<a href="https://colab.research.google.com/github/archita924/Django-website/blob/master/unemployment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Part 0: Reading the data

# ● Please find the data (unemployment_analysis.csv) and take it as the input ( as data frame ).
# ● For all columns (having years), convert the strings into floats. (for e.g., 6.8 lacs  6.8)
# ● Display the column names along with their datatypes.
# ● Generate the unique country names along with their corresponding country code.
# ● Find total unemployed people for all the years for each country.

In [5]:
# Code you have previously used to load data
import pandas as pd

# Path of the file to read
iowa_file_path = '/content/unemployment_analysis.csv'
unemployment_data = pd.read_csv(iowa_file_path)

# Set up code checking

print("Setup Complete")

Setup Complete

In [26]:
y=unemployment_data.describe()
print(y)

df = pd.DataFrame(unemployment_data)
print(df)

                       Country Name Country Code      1991       1992  \
count                           235          235       235        235
unique                          235          235       216        207
top     Africa Eastern and Southern          AFE  1.9 lacs  4.99 lacs
freq                              1            1         4          3

            1993       1994       1995      1996       1997      1998  ...  \
count        235        235        235       235        235       235  ...
unique       210        214        213       217        217       212  ...
top     6.6 lacs  6.59 lacs  5.63 lacs  6.6 lacs  6.63 lacs  2.9 lacs  ...
freq           4          3          3         3          3         3  ...

             2012       2013        2014       2015      2016       2017  \
count         235        235         235        234       235        235
unique        212        216         215        216       219        206
top     5.85 lacs  5.71 lacs  10.85 lacs  5.82 lacs  5.9 lacs  6.47 lacs
freq            3          3           3          3         3          3

             2018       2019       2020       2021
count         235        235        235        235
unique        217        208        218        217
top     6.48 lacs  4.45 lacs  7.28 lacs  7.66 lacs
freq            3          4          3          3

[4 rows x 33 columns]
                    Country Name Country Code        1991        1992  \
0    Africa Eastern and Southern          AFE    7.8 lacs   7.84 lacs
1                    Afghanistan          AFG  10.65 lacs  10.82 lacs
2     Africa Western and Central          AFW   4.42 lacs   4.53 lacs
3                         Angola          AGO   4.21 lacs   4.21 lacs
4                        Albania          ALB  10.31 lacs  30.01 lacs
..                           ...          ...         ...         ...
230                        Samoa          WSM    2.1 lacs   2.38 lacs
231                  Yemen, Rep.          YEM   8.32 lacs   8.31 lacs
232                 South Africa          ZAF  29.95 lacs  29.98 lacs
233                       Zambia          ZMB   18.9 lacs  19.37 lacs
234                     Zimbabwe          ZWE   4.94 lacs   4.99 lacs

           1993        1994        1995        1996        1997        1998  \
0     7.85 lacs   7.84 lacs   7.83 lacs   7.84 lacs   7.86 lacs   7.81 lacs
1    10.72 lacs  10.73 lacs  11.18 lacs  10.96 lacs  10.78 lacs   10.8 lacs
2     4.55 lacs   4.54 lacs   4.53 lacs   4.57 lacs    4.6 lacs   4.66 lacs
3     4.23 lacs   4.16 lacs   4.11 lacs    4.1 lacs   4.09 lacs   4.07 lacs
4    25.26 lacs  20.84 lacs  14.61 lacs  13.93 lacs  16.88 lacs  20.05 lacs
..          ...         ...         ...         ...         ...         ...
230   2.63 lacs   3.04 lacs   3.19 lacs   3.47 lacs    3.9 lacs   4.18 lacs
231   8.35 lacs   8.34 lacs   8.96 lacs   9.59 lacs   10.2 lacs  10.81 lacs
232  29.92 lacs  29.89 lacs  29.89 lacs  29.87 lacs  29.91 lacs  29.95 lacs
233   19.7 lacs  18.43 lacs  16.81 lacs   15.3 lacs  13.64 lacs     12 lacs
234   4.97 lacs   4.96 lacs   5.63 lacs   6.25 lacs   6.93 lacs   6.46 lacs

     ...        2012        2013        2014        2015        2016  \
0    ...   6.56 lacs   6.45 lacs   6.41 lacs   6.49 lacs   6.61 lacs
1    ...  11.34 lacs  11.19 lacs  11.14 lacs  11.13 lacs  11.16 lacs
2    ...   4.64 lacs   4.41 lacs   4.69 lacs   4.63 lacs   5.57 lacs
3    ...   7.35 lacs   7.37 lacs   7.37 lacs   7.39 lacs   7.41 lacs
4    ...  13.38 lacs  15.87 lacs  18.05 lacs  17.19 lacs  15.42 lacs
..   ...         ...         ...         ...         ...         ...
230  ...   8.75 lacs   8.67 lacs   8.72 lacs    8.5 lacs   8.31 lacs
231  ...  13.17 lacs  13.27 lacs  13.47 lacs  13.77 lacs  13.43 lacs
232  ...  24.73 lacs  24.56 lacs  24.89 lacs  25.15 lacs  26.54 lacs
233  ...   7.85 lacs   8.61 lacs   9.36 lacs  10.13 lacs  10.87 lacs
234  ...   5.15 lacs   4.98 lacs   4.77 lacs   4.78 lacs   4.79 lacs

           2017        2018        2019        2020        2021
0     6.71 lacs   6.73 lacs   6.91 lacs   7.56 lacs   8.11 lacs
1    11.18 lacs  11.15 lacs  11.22 lacs  11.71 lacs  13.28 lacs
2     6.02 lacs   6.04 lacs   6.06 lacs   6.77 lacs   6.84 lacs
3     7.41 lacs   7.42 lacs   7.42 lacs   8.33 lacs   8.53 lacs
4    13.62 lacs   12.3 lacs  11.47 lacs  13.33 lacs  11.82 lacs
..          ...         ...         ...         ...         ...
230   8.58 lacs   8.69 lacs   8.41 lacs   9.15 lacs   9.84 lacs
231   13.3 lacs  13.15 lacs  13.06 lacs  13.39 lacs  13.57 lacs
232  27.04 lacs  26.91 lacs  28.47 lacs  29.22 lacs  33.56 lacs
233  11.63 lacs  12.01 lacs  12.52 lacs  12.85 lacs  13.03 lacs
234   4.78 lacs    4.8 lacs   4.83 lacs   5.35 lacs   5.17 lacs

[235 rows x 33 columns]

In [12]:
print(df.dtypes)

Country Name    object
Country Code    object
1991            object
1992            object
1993            object
1994            object
1995            object
1996            object
1997            object
1998            object
1999            object
2000            object
2001            object
2002            object
2003            object
2004            object
2005            object
2006            object
2007            object
2008            object
2009            object
2010            object
2011            object
2012            object
2013            object
2014            object
2015            object
2016            object
2017            object
2018            object
2019            object
2020            object
2021            object
dtype: object

In [20]:

print(df.dtypes)

  
# show the dataframe
print(df)
  
# show the datatypes

Country Name    object
Country Code    object
1991            object
1992            object
1993            object
1994            object
1995            object
1996            object
1997            object
1998            object
1999            object
2000            object
2001            object
2002            object
2003            object
2004            object
2005            object
2006            object
2007            object
2008            object
2009            object
2010            object
2011            object
2012            object
2013            object
2014            object
2015            object
2016            object
2017            object
2018            object
2019            object
2020            object
2021            object
dtype: object
                    Country Name Country Code        1991        1992  \
0    Africa Eastern and Southern          AFE    7.8 lacs   7.84 lacs
1                    Afghanistan          AFG  10.65 lacs  10.82 lacs
2     Africa Western and Central          AFW   4.42 lacs   4.53 lacs
3                         Angola          AGO   4.21 lacs   4.21 lacs
4                        Albania          ALB  10.31 lacs  30.01 lacs
..                           ...          ...         ...         ...
230                        Samoa          WSM    2.1 lacs   2.38 lacs
231                  Yemen, Rep.          YEM   8.32 lacs   8.31 lacs
232                 South Africa          ZAF  29.95 lacs  29.98 lacs
233                       Zambia          ZMB   18.9 lacs  19.37 lacs
234                     Zimbabwe          ZWE   4.94 lacs   4.99 lacs

           1993        1994        1995        1996        1997        1998  \
0     7.85 lacs   7.84 lacs   7.83 lacs   7.84 lacs   7.86 lacs   7.81 lacs
1    10.72 lacs  10.73 lacs  11.18 lacs  10.96 lacs  10.78 lacs   10.8 lacs
2     4.55 lacs   4.54 lacs   4.53 lacs   4.57 lacs    4.6 lacs   4.66 lacs
3     4.23 lacs   4.16 lacs   4.11 lacs    4.1 lacs   4.09 lacs   4.07 lacs
4    25.26 lacs  20.84 lacs  14.61 lacs  13.93 lacs  16.88 lacs  20.05 lacs
..          ...         ...         ...         ...         ...         ...
230   2.63 lacs   3.04 lacs   3.19 lacs   3.47 lacs    3.9 lacs   4.18 lacs
231   8.35 lacs   8.34 lacs   8.96 lacs   9.59 lacs   10.2 lacs  10.81 lacs
232  29.92 lacs  29.89 lacs  29.89 lacs  29.87 lacs  29.91 lacs  29.95 lacs
233   19.7 lacs  18.43 lacs  16.81 lacs   15.3 lacs  13.64 lacs     12 lacs
234   4.97 lacs   4.96 lacs   5.63 lacs   6.25 lacs   6.93 lacs   6.46 lacs

     ...        2012        2013        2014        2015        2016  \
0    ...   6.56 lacs   6.45 lacs   6.41 lacs   6.49 lacs   6.61 lacs
1    ...  11.34 lacs  11.19 lacs  11.14 lacs  11.13 lacs  11.16 lacs
2    ...   4.64 lacs   4.41 lacs   4.69 lacs   4.63 lacs   5.57 lacs
3    ...   7.35 lacs   7.37 lacs   7.37 lacs   7.39 lacs   7.41 lacs
4    ...  13.38 lacs  15.87 lacs  18.05 lacs  17.19 lacs  15.42 lacs
..   ...         ...         ...         ...         ...         ...
230  ...   8.75 lacs   8.67 lacs   8.72 lacs    8.5 lacs   8.31 lacs
231  ...  13.17 lacs  13.27 lacs  13.47 lacs  13.77 lacs  13.43 lacs
232  ...  24.73 lacs  24.56 lacs  24.89 lacs  25.15 lacs  26.54 lacs
233  ...   7.85 lacs   8.61 lacs   9.36 lacs  10.13 lacs  10.87 lacs
234  ...   5.15 lacs   4.98 lacs   4.77 lacs   4.78 lacs   4.79 lacs

           2017        2018        2019        2020        2021
0     6.71 lacs   6.73 lacs   6.91 lacs   7.56 lacs   8.11 lacs
1    11.18 lacs  11.15 lacs  11.22 lacs  11.71 lacs  13.28 lacs
2     6.02 lacs   6.04 lacs   6.06 lacs   6.77 lacs   6.84 lacs
3     7.41 lacs   7.42 lacs   7.42 lacs   8.33 lacs   8.53 lacs
4    13.62 lacs   12.3 lacs  11.47 lacs  13.33 lacs  11.82 lacs
..          ...         ...         ...         ...         ...
230   8.58 lacs   8.69 lacs   8.41 lacs   9.15 lacs   9.84 lacs
231   13.3 lacs  13.15 lacs  13.06 lacs  13.39 lacs  13.57 lacs
232  27.04 lacs  26.91 lacs  28.47 lacs  29.22 lacs  33.56 lacs
233  11.63 lacs  12.01 lacs  12.52 lacs  12.85 lacs  13.03 lacs
234   4.78 lacs    4.8 lacs   4.83 lacs   5.35 lacs   5.17 lacs

[235 rows x 33 columns]

In [25]:
y=unemployment_data.drop_duplicates()
print(y)

                    Country Name Country Code        1991        1992  \
0    Africa Eastern and Southern          AFE    7.8 lacs   7.84 lacs
1                    Afghanistan          AFG  10.65 lacs  10.82 lacs
2     Africa Western and Central          AFW   4.42 lacs   4.53 lacs
3                         Angola          AGO   4.21 lacs   4.21 lacs
4                        Albania          ALB  10.31 lacs  30.01 lacs
..                           ...          ...         ...         ...
230                        Samoa          WSM    2.1 lacs   2.38 lacs
231                  Yemen, Rep.          YEM   8.32 lacs   8.31 lacs
232                 South Africa          ZAF  29.95 lacs  29.98 lacs
233                       Zambia          ZMB   18.9 lacs  19.37 lacs
234                     Zimbabwe          ZWE   4.94 lacs   4.99 lacs

           1993        1994        1995        1996        1997        1998  \
0     7.85 lacs   7.84 lacs   7.83 lacs   7.84 lacs   7.86 lacs   7.81 lacs
1    10.72 lacs  10.73 lacs  11.18 lacs  10.96 lacs  10.78 lacs   10.8 lacs
2     4.55 lacs   4.54 lacs   4.53 lacs   4.57 lacs    4.6 lacs   4.66 lacs
3     4.23 lacs   4.16 lacs   4.11 lacs    4.1 lacs   4.09 lacs   4.07 lacs
4    25.26 lacs  20.84 lacs  14.61 lacs  13.93 lacs  16.88 lacs  20.05 lacs
..          ...         ...         ...         ...         ...         ...
230   2.63 lacs   3.04 lacs   3.19 lacs   3.47 lacs    3.9 lacs   4.18 lacs
231   8.35 lacs   8.34 lacs   8.96 lacs   9.59 lacs   10.2 lacs  10.81 lacs
232  29.92 lacs  29.89 lacs  29.89 lacs  29.87 lacs  29.91 lacs  29.95 lacs
233   19.7 lacs  18.43 lacs  16.81 lacs   15.3 lacs  13.64 lacs     12 lacs
234   4.97 lacs   4.96 lacs   5.63 lacs   6.25 lacs   6.93 lacs   6.46 lacs

     ...        2012        2013        2014        2015        2016  \
0    ...   6.56 lacs   6.45 lacs   6.41 lacs   6.49 lacs   6.61 lacs
1    ...  11.34 lacs  11.19 lacs  11.14 lacs  11.13 lacs  11.16 lacs
2    ...   4.64 lacs   4.41 lacs   4.69 lacs   4.63 lacs   5.57 lacs
3    ...   7.35 lacs   7.37 lacs   7.37 lacs   7.39 lacs   7.41 lacs
4    ...  13.38 lacs  15.87 lacs  18.05 lacs  17.19 lacs  15.42 lacs
..   ...         ...         ...         ...         ...         ...
230  ...   8.75 lacs   8.67 lacs   8.72 lacs    8.5 lacs   8.31 lacs
231  ...  13.17 lacs  13.27 lacs  13.47 lacs  13.77 lacs  13.43 lacs
232  ...  24.73 lacs  24.56 lacs  24.89 lacs  25.15 lacs  26.54 lacs
233  ...   7.85 lacs   8.61 lacs   9.36 lacs  10.13 lacs  10.87 lacs
234  ...   5.15 lacs   4.98 lacs   4.77 lacs   4.78 lacs   4.79 lacs

           2017        2018        2019        2020        2021
0     6.71 lacs   6.73 lacs   6.91 lacs   7.56 lacs   8.11 lacs
1    11.18 lacs  11.15 lacs  11.22 lacs  11.71 lacs  13.28 lacs
2     6.02 lacs   6.04 lacs   6.06 lacs   6.77 lacs   6.84 lacs
3     7.41 lacs   7.42 lacs   7.42 lacs   8.33 lacs   8.53 lacs
4    13.62 lacs   12.3 lacs  11.47 lacs  13.33 lacs  11.82 lacs
..          ...         ...         ...         ...         ...
230   8.58 lacs   8.69 lacs   8.41 lacs   9.15 lacs   9.84 lacs
231   13.3 lacs  13.15 lacs  13.06 lacs  13.39 lacs  13.57 lacs
232  27.04 lacs  26.91 lacs  28.47 lacs  29.22 lacs  33.56 lacs
233  11.63 lacs  12.01 lacs  12.52 lacs  12.85 lacs  13.03 lacs
234   4.78 lacs    4.8 lacs   4.83 lacs   5.35 lacs   5.17 lacs

[235 rows x 33 columns]